.timers_header {
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #000000;
}

.timers_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    padding: 10px;
    border-radius: 10px;

    outline: none;
    border: none;
    cursor: pointer;


    background: #192cff;
    color: #ffffff;
}

.timers_btn:disabled {
    background: #1d1e34;
    opacity: 0.5;
}

.timers_deletebtn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    padding: 10px;
    border-radius: 20px;

    outline: none;
    border: none;
    cursor: pointer;

    font-weight: bold;
    background: #ff0000;
    color: #ffffff;
}

.timers_input {
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;

    outline: none;
    border: none;
}

.timers_error {
    font-weight: bold;
    color: #ff0008;
}

.timers_container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
}